.step {
    display: none;
    &-active {
        display: block;
    }
}
.description-container {
    .description {
        display: none;
        &-active {
            display: block;
        }
    }
}